@tailwind base;
@tailwind components;
@tailwind utilities;

.prose a {
    color: rgba(59, 130, 246, var(--tw-text-opacity));
}

.ProseMirror img {
    max-width: 100%;
    height: auto;
}

.ProseMirror img.ProseMirror-selectednode {
    outline: 3px solid #68CEF8;
}

ul[data-type=taskList] {
    list-style: none;
    padding: 0;
}

ul[data-type=taskList] p {
    margin: 0;
}

ul[data-type=taskList] li.task-list {
    display: flex;
    padding-left: 1rem;
}

ul[data-type=taskList] li.task-list>label {
    flex: 0 0 auto;
    margin-right: 0.5rem;
    user-select: none;
}

ul[data-type=taskList] li.task-list>div {
    flex: 1 1 auto;
}

ul[data-type=taskList] li.task-list::before {
    display: none;
}

p.hint-box {
    position: relative;
}

p.hint-box::before {
    content: "hint ! ";
    top: -1rem;
    left: -.1rem;
    position: absolute;
    background: white;
    font-weight: bold;
    color: green;
}