@tailwind base;
@tailwind components;
@tailwind utilities;

.prose a {
    color: rgba(59, 130, 246, var(--tw-text-opacity));
}

.ProseMirror img {
    max-width: 100%;
    height: auto;
}

.ProseMirror img.ProseMirror-selectednode {
    outline: 3px solid #68CEF8;
}